h1{
    text-align: center;
}

.head{
    display: inline-flex;
}

.date{
    margin-left: 200px;
}


#fetch{
    margin-left: 600px;
}

#form{
    display: inline-flex;
    margin-left: 200px;
    margin-top: 30px;
}

#present{
    margin-left: 600px;
}
#absent{
    margin-left: 50px;
}

label{
    margin-top: 17px;
    margin-left: 3px;
}